
<span class="text-center"><h2>List of Editions</h2></span>
<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection></div>
<br />



<input type="button" class="btn btn-primary" value="Create New" ng-click="addNewEditionClick()" />
<input type="button" ng-disabled="isMultipleRowsSelected" class="btn btn-primary" value="Modify" ng-click="modifyEditionClick()" />
<input type="button" ng-disabled="noRowsSelected" class="btn btn-primary" value="Delete" ng-click="deleteEditionClick()" />

<!--<input type="button" class="btn btn-primary" value="Add Publication" ng-click="addNewPublication()" />-->


<input type="button" ng-disabled="isMultipleRowsSelected" class="btn btn-primary" value="Scheduling" ng-click="showNewSchedulePage()" />