<form name="createEstimate" class="form-horizontal" role="form" ng-init="fetchDataIfEditing()">

    <fieldset>
        <legend>Create New Estimate</legend>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtCampaign" class="col-sm-3 control-label">Campaign</label>
                <div class="col-sm-9">
                    <input type="text" name="txtCampaign" class="form-control" ng-model="estimate.Campaign" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtAgency" class="col-sm-3 control-label">Agency</label>
                <div class="col-sm-9">
                    <input type="text" name="txtAgency" class="form-control" ng-model="estimate.Agency" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtPeriodFrom" class="col-sm-3 control-label">Period From</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input id="dt" type="text" name="txtPeriodFrom" class="form-control" ng-model="estimate.PeriodFrom"
                               datepicker-options="periodFromOptions" is-open="isFromOpen" uib-datepicker-popup onkeydown="return false"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtPeriodTo" class="col-sm-3 control-label">Period To</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input type="text" name="txtPeriodTo" class="form-control" ng-model="estimate.PeriodTo"
                               datepicker-options="periodToOptions" is-open="isToOpen" uib-datepicker-popup date-disabled onkeydown="return false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtClient" class="col-sm-3 control-label">Client</label>
                <div class="col-sm-9">
                    <!--<input type="text" name="txtClient" class="form-control" ng-model="estimate.ClientID" />-->
                    <select class="form-control" ng-model="estimate.ClientID" ng-options="client.clientID as client.client_Name for client in estimate.Clients">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtBrand" class="col-sm-3 control-label">Brand</label>
                <div class="col-sm-9">
                    <!--<input type="text" name="txtBrand" class="form-control" ng-model="estimate.BrandID" />-->
                    <select class="form-control" ng-model="estimate.BrandID" ng-options="brand.brandID as brand.brand_Name for brand in estimate.Brands">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtEstimateNo" class="col-sm-3 control-label">Estimate No</label>
                <div class="col-sm-9">
                    <input type="text" name="txtEstimateNo" class="form-control" ng-model="estimate.EST_NO" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtDateReadOnly" class="col-sm-3 control-label">Current Date</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input type="text" name="txtDateReadOnly" class="form-control" ng-model="estimate.EST_Date"
                               datepicker-options="periodFromOptions" is-open="isDateROOpen" uib-datepicker-popup disabled/>
                        <span class="input-group-btn">
                            <button disabled  type="button" class="btn btn-default" ng-click="openDateRO()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtPONo" class="col-sm-3 control-label">PO No.</label>
                <div class="col-sm-9">
                    <input type="text" name="txtPONo" class="form-control" ng-model="estimate.PO_NO" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtDate" class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <p class="input-group">
                        <input type="text" name="txtDate" class="form-control" ng-model="estimate.PO_Date"
                               datepicker-options="poDateOptions" is-open="isDateOpen" close-text="Close" uib-datepicker-popup onkeydown="return false" />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtSACPer" class="col-sm-3 control-label">SAC Per</label>
                <div class="col-sm-9">
                    <input id="sac" type="number" name="txtSACPer" class="form-control" ng-model="estimate.SAC_PER" min="0" max="100"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtAACPer" class="col-sm-3 control-label">AAC Per</label>
                <div class="col-sm-9">
                    <input id="aac" type="number" name="txtAACPer" class="form-control" ng-model="estimate.AAC_PER" min="0" max="100" />
                </div>
            </div>
        </div>


    </fieldset>
    <input type="button" class="btn btn-warning" value="Cancel" ng-click="cancelEstimate()" />

    <input type="button" class="btn btn-success" value="Save" ng-click="saveEstimate()" />


</form>