<form name="createEstimate" class="form-horizontal" role="form" ng-submit="submiteCreateForm()">

    <fieldset>
        <legend>Create New Estimate</legend>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtCampaign" class="col-sm-3 control-label">Campaign</label>
                <div class="col-sm-9">
                    <input type="text" name="txtCampaign" class="form-control" ng-model="estimate.campaign" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtAgency" class="col-sm-3 control-label">Agency</label>
                <div class="col-sm-9">
                    <input type="text" name="txtAgency" class="form-control" ng-model="estimate.agency" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtPeriodFrom" class="col-sm-3 control-label">Period From</label>
                <div class="col-sm-9">
                    <input type="text" name="txtPeriodFrom" class="form-control" ng-model="estimate.periodFrom" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtPeriodTo" class="col-sm-3 control-label">Period To</label>
                <div class="col-sm-9">
                    <input type="text" name="txtPeriodTo" class="form-control" ng-model="estimate.periodTo" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtClient" class="col-sm-3 control-label">Client</label>
                <div class="col-sm-9">
                    <input type="text" name="txtClient" class="form-control" ng-model="estimate.client" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtBrand" class="col-sm-3 control-label">Brand</label>
                <div class="col-sm-9">
                    <input type="text" name="txtBrand" class="form-control" ng-model="estimate.brand" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtEstimateNo" class="col-sm-3 control-label">Estimate No</label>
                <div class="col-sm-9">
                    <input type="text" name="txtEstimateNo" class="form-control" ng-model="estimate.estNo" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtDateReadOnly" class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <input type="text" name="txtDateReadOnly" class="form-control" ng-model="estimate.dateRO" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtPONo" class="col-sm-3 control-label">PO No.</label>
                <div class="col-sm-9">
                    <input type="text" name="txtPONo" class="form-control" ng-model="estimate.poNo" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtDate" class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <input type="text" name="txtDate" class="form-control" ng-model="estimate.date" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtSACPer" class="col-sm-3 control-label">SAC Per</label>
                <div class="col-sm-9">
                    <input type="text" name="txtSACPer" class="form-control" ng-model="estimate.sac" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="txtAACPer" class="col-sm-3 control-label">AAC Per</label>
                <div class="col-sm-9">
                    <input type="text" name="txtAACPer" class="form-control" ng-model="estimate.aac" />
                </div>
            </div>
    </fieldset>


</form>