
<input type="button" class="btn btn-primary" value="Create New" ng-click="addNewEstimateClick()" />
<input type="button" class="btn btn-primary" value="Modify" ng-click="modifyEstimateClick()" />
<input type="button" class="btn btn-primary" value="Delete" ng-click="deleteEstimateClick()" />
<input type="button" class="btn btn-primary" value="Approve" ng-click="approveEstimateClick()" />
<input type="button" class="btn btn-primary" value="Excel Report" ng-click="excelReportClick()" />
<input type="button" class="btn btn-primary" value="PDF Report" ng-click="pdfreportClick()" />

